<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /betweenus/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /betweenus/index.html [L]
</IfModule>